body,
code {
  color: #6b6b6b;
}

a {
  color: #006951;
  text-decoration: underline;
}

a:hover,
.heart {
  color: #ff96ae;
}

footer,
h2,
header,
.well:nth-child(3) {
  text-align: center;
}

.well:nth-child(3) a {
  font-weight: 800;
  text-decoration: none;
}

body {
  margin-top: 15px;
}

h1 {
  display: none;
}

h2,
h3 {
  margin-top: 0;
}

.logo {
  margin-bottom: -22px;
}

.lead {
  padding-top: 25px;
}

pre,
.well {
  background-color: #f1f1f1;
  border: none;
}

pre {
  padding: 0 9.5px;
}

.well {
  border-radius: 8px;
  box-shadow: none;
}

code,
.well:nth-child(odd) {
  background-color: transparent;
}

.well:nth-child(odd) {
  padding: 9px 19px;
}

.col-xs-3 {
  text-align: right;
}
